*{
	font-family: Futura;
}

html{
	overflow-x: hidden;
}

body{
	margin: 0;
	padding: 0;
}

#body{
	display: grid;
	grid-template-rows: 5% 75% 20%;
	grid-template-columns: 20% 80%;
	min-height: 115vh;
	justify-content: center;
	align-content: center;
}

nav {
	z-index: 2;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    grid-column: 1 / span 2;
 }
a{
 	text-decoration: none;
 }

#title{
 	margin-left: 100px;
 }

#sign{
	display: flex;
	margin-right: 100px;
	width: 240px;
	height: 25px;
	justify-content: space-between;
	align-items: center;
 }

 #sign a {
 	padding: 4px 12px;
 	margin-left: 10px;
 	border-radius: 4px;
 }

 .signup{
 	color: white;
 	background-color: rgba(255,20,147,0.9);
 }

 .signup:hover{
 	color: rgba(255,20,147,0.9);
 	border: 1px solid rgba(255,20,147,0.9);
 	background-color: white;
 }

.signin{
 	color: rgba(255,20,147,0.9);
 }

#sidebar{
	z-index: 1;
	display: flex;
	background-color: rgb(220, 220, 220);
	align-items: center;
	flex-direction: column;
	grid-column-start: 1; 
}
#main-content{
	z-index: 1;
	display: grid;
	grid-template-rows: 50% 50%; 
	grid-template-columns: 50% 50%;
	grid-column-start: 2;
	grid-row-start: 2; 
	height: 695px;
	grid-gap: 15px;
}

.wiki, .shop, .forum, .A-propos{
	display: flex;
	align-items: center;
	width: 93%;
	height: 310px;
	border-radius: 20px; 
	justify-self: center;
	transition: 0.2s;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.link, .info{
	position: absolute;
	color: white;
	text-decoration: none;
	font-size: 28px;
	font-weight: 600;
	transition: 1s; 
	transform: translateY(0px);
}

.info{
	color: transparent;
	transition-duration: 1s;
	font-size: 20px;
	transform: translateY(0px);
}

.wiki:hover .link, .shop:hover .link, .forum:hover .link,.A-propos:hover .link{
	transform: translateY(40px);
}

.wiki:hover .info, .shop:hover .info, .forum:hover .info,.A-propos:hover .info{
	transform: translateY(-40px);
	color: white;
}

.wiki{
	background: linear-gradient(0.85turn,rgba(255, 0, 40, 0.85), rgba(180, 0, 40, 0.85));
	justify-self: end;
	align-self: end;
}

.shop{
	background: linear-gradient(0.65turn,rgba(0, 10, 150, 0.9), rgba(50, 10, 200, 0.85));
	justify-self: start;
	align-self: end;
}

.forum{
	background: linear-gradient(1.15turn,rgba(10, 160, 50, 0.85), rgba(10, 230, 50, 0.85));
	justify-self: end;
	align-self: start;
}

.A-propos{
	background: linear-gradient(0.35turn,rgba(220, 200, 40, 0.85), rgba(200, 160, 80, 0.85));
	justify-self: start;
	align-self: start;
}

.wiki:hover, .shop:hover, .forum:hover,.A-propos:hover{
	box-shadow: 0 10px 35px rgba(0,0,0,.8);
}

#footer{
	grid-row-start: 3;
	text-align: center;
	background: red;
	grid-row-start: 3;
	grid-column: 1 / span 2; 
	background-color: rgb(40, 40, 70);
}

#footer p{
	color: white;
}