<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Emeric Willard">
    <meta name="content" content="Emeric Willard">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/style.css">
    <title>Altrona</title>
</head>
<body>
<div id="body">
    <nav id="nav">
        <div id="title"><h1>Altrona</h1></div>
        <div id="sign">
            <a href="#" class="signin">Se connecter</a>
            <a href="#" class="signup">S'inscrire</a>
        </div>
    </nav>
    <div id="sidebar">
        <p>sidebar</p>
    </div>
    <div id="main-content">
        <div class="wiki">
            <a class='link' href="#">WIKI</a>
        </div>
        <div class="shop">
            <a class='link' href="#">SHOP</a>
        </div>
        <div class="forum">
            <a class='link' href="#">FORUM</a>
        </div>
        <div class="A-propos">
            <a class='link' href="#">A PROPOS</a>
        </div>
    </div>
    <footer id="footer">
        <p>copyright</p>
    </footer>
</div>
</body>
<script type="text/javascript" src="../js/script.js"></script>
</html>
