<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Emeric Willard">
    <meta name="content" content="Emeric Willard">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/inscription.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Altrona • Inscription</title>
</head>
<body>
<div id="body2">
    <nav id="nav">
        <div id="title"><h1><a href="index.html">Altrona</a></h1></div>
    </nav>
    <div id="main-container">
    	<div id="connect-title">
    		<h2>Inscription</h2>
    	</div>
    	<form id="form-content" method="post" action="#">
            <input class="input-form" type="text" placeholder="Pseudo" name="pseudo"/>
            <input class="input-form" type="email" placeholder="Adresse e-mail" name="email"/>
            <input class="input-form" type="password" placeholder="Mot de passe" name="password1"/>
            <input class="input-form" type="password" placeholder="Confirmez le mot de passe" name="password2"/>
			<input class="submit-form" type="submit" value="SE CONNECTER" name="submit-button"/>
    	</form>
    </div>
    <footer id="footer">
    </footer>
</div>
</body>
</html>