<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Emeric Willard">
    <meta name="content" content="Emeric Willard">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/inscription.css">
    <title>Altrona • Inscription</title>
</head>
<body>
<div id="body2">
    <nav id="nav">
        <div id="title"><h1><a href="index.html">Altrona</a></h1></div>
    </nav>
    <div id="main-container">
    	<div id="connect-title">
    		<h2>Inscription</h2>
    	</div>
    	<form id="form-content" method="post" action="#">
            <input class="input-form" type="text" placeholder="Pseudo" name="pseudo"/>
            <input class="input-form" type="email" placeholder="Adresse e-mail" name="email"/>
            <input class="input-form" type="password" placeholder="Mot de passe" name="password1"/>
            <input class="input-form" type="password" placeholder="Confirmez le mot de passe" name="password2"/>
			<input class="submit-form" type="submit" value="S'inscrire" name="submit-button"/>
    	</form>
    </div>
    <footer id="footer">
        <div id="footer-content">
            <div class="f-content">
                <h3>Altrona</h3>
                <address>
                    Rue Archimède 1,<br> 1348 Ottignies-Louvain-la-Neuve<br><br>
                    <a class="foot-link" href="maito:altrona@altrona.be">altrona@altrona.be</a>
                </address>
            </div>
            <div class="f-content">
                <h3>Nos services</h3>
                <a class="foot-link" href="#">Wiki</a>
                <a class="foot-link" href="#">Shop</a>
                <a class="foot-link" href="#">Forum</a>
                <a class="foot-link" href="#">A propos</a>
            </div>
            <div class="f-content">
                <h3>Informations</h3>
                <a class="foot-link" href="#">Mentions légales</a>
                <a class="foot-link" href="#">Politique de confidentialité</a>
                <a class="foot-link" href="#">Gestion des cookies</a>
            </div>
            <div class="f-content">
                <h3>Support</h3>
                <a class="foot-link" href="#">FAQ</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>