<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Creation de premier effets via css, js et differents API"/>
    <meta name="author" content="Emeric Weinreb Willard"/>
    <meta name="copyright" content="Emeric Weinreb Willard"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <link href="../style/style.css" rel="stylesheet"/>
    <title>Apprentissage et première création</title>
</head>
<body>
<div id="body">
    <div id="header">
        <div id="title"><h1>ALTRONA</h1></div>
        <div id="sign">
            <a href="#" class="sign-in">Se connecter</a>
            <a href="#" class="sign-up">S'inscrire</a>
        </div>
    </div>
    <section id="main-content">
        <div class="itemA">
            <a href="#">WIKI</a>
            <div class="under">
                <p>L'encyclopédie de l'informatique</p>
            </div>
        </div>
        <div class="itemB">
            <a href="#">FORUM</a>
            <div class="under">
                <p>Aidez-vous des autres pour progesser</p>
            </div>
        </div>
        <div class="itemC">
            <a href="#">SHOP</a>
            <div class="under">
                <p>Achetez les meilleurs produits</p>
            </div>
        </div>
        <div class="itemD">
            <a href="#">A PROPOS</a>
            <div class="under">
                <p>Qui sommes-nous ?</p>
            </div>
        </div>
    </section>
</div>
</body>
</html>